.constituent-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
}
